<mat-toolbar style="background-color: white;">
    <!-- <p>JUSTRAVEL LOGO</p> -->
</mat-toolbar>
<!-- <mat-nav-list>
    <a mat-list-item routerLink="."><mat-icon color="accent">analytics</mat-icon><span>Ventas</span></a>
  </mat-nav-list>
  <mat-nav-list>
    <a mat-list-item routerLink="."><mat-icon color="accent">book_online</mat-icon><span>Pases</span></a>
  </mat-nav-list> -->
<mat-nav-list>
    <a mat-list-item routerLink="/establishmentList" routerLinkActive="active">
        <mat-icon color="accent">store</mat-icon><span>Establecimientos</span></a>
</mat-nav-list>
<mat-nav-list>
    <a mat-list-item routerLink="/servicesList">
        <mat-icon color="accent">menu_book</mat-icon><span>Servicios</span></a>
</mat-nav-list>
<!-- <mat-nav-list>
    <a mat-list-item routerLink="."><mat-icon color="accent">confirmation_number</mat-icon><span>Vales</span></a>
  </mat-nav-list>
  <mat-nav-list>
    <a mat-list-item routerLink="."><mat-icon color="accent">sell</mat-icon><span>Tipo de vales</span></a>
  </mat-nav-list>
  <mat-nav-list>
    <a mat-list-item routerLink="."><mat-icon color="accent">receipt</mat-icon><span>Facturas</span></a>
  </mat-nav-list>
  <mat-nav-list>
    <a mat-list-item routerLink="."><mat-icon color="accent">group_work</mat-icon><span>Partners</span></a>
  </mat-nav-list>
  <mat-nav-list>
    <a mat-list-item routerLink="."><mat-icon color="accent">folder_shared</mat-icon><span>Colaboradores</span></a>
  </mat-nav-list> -->
<mat-nav-list>
    <a mat-list-item routerLink="/clients">
        <mat-icon color="accent">account_box</mat-icon><span>Clientes</span></a>
</mat-nav-list>
<!-- <mat-nav-list>
    <a mat-list-item routerLink="."><mat-icon color="accent">groups</mat-icon><span>Team</span></a>
  </mat-nav-list> -->
