<div>
  <mat-toolbar style="background: rgb(212, 212, 212)">
    <div class="mt-4">
      <p
        class="text-1xl md:text-1xl italic font-semibold tracking-wide align-middle"
      >
        VENTAS
      </p>
    </div>
  </mat-toolbar>
</div>

<div class="flex flex-col">
  <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div
      class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow"
    >
      <mat-toolbar style="font-size: 12px; background: rgb(212, 212, 212)">
        <div class="mt-10 mb-6">
          <mat-form-field class="" color="accent" appearance="outline">
            <mat-label>Buscar ventas</mat-label>
            <input matInput />
          </mat-form-field>
        </div>
      </mat-toolbar>
      <table class="min-w-full">
        <thead>
          <tr>
            <th
              class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-blue-900 uppercase border-b border-gray-200 bg-gray-50"
            >
              ID
            </th>
            <th
              class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-blue-900 uppercase border-b border-gray-200 bg-gray-50"
            >
              Fecha de venta
            </th>
            <th
              class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-blue-900 uppercase border-b border-gray-200 bg-gray-50"
            >
              Importe
            </th>
            <th
              class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-blue-900 uppercase border-b border-gray-200 bg-gray-50"
            >
              Código descuento
            </th>
            <th
              class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-blue-900 uppercase border-b border-gray-200 bg-gray-50"
            >
              Tipo de pase
            </th>
            <th
              class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-blue-900 uppercase border-b border-gray-200 bg-gray-50"
            >
              Cliente
            </th>
            <th
              class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-blue-900 uppercase border-b border-gray-200 bg-gray-50"
            >
              Partner
            </th>
            <th
              class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-blue-900 uppercase border-b border-gray-200 bg-gray-50"
            >
              Validez
            </th>
          </tr>
        </thead>

        <tbody class="bg-white">
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">1</div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">
                11 Junio 2021 11:03
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">260€</div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">VERANO2022</div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">2x Meal Pass adulto</div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">Miguel Lopez</div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">Logitravel</div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">03/07/2022</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

