<!-- <div class="login-container">
  <mat-toolbar color="primary" class="toolbar flex justify-center items-center">
    <h1 class="justravel-logo" color="accent">JUSTRAVEL</h1>
    <p class="loginFont">Log In</p>
  </mat-toolbar>
  <div class="md:mt-48 mt-16 flex justify-center items-center">
    <mat-card class="md:w-1/4 w-full">
      <mat-card-content class="p-8">
        <form>
          <div class="flex justify-center items-center">
            <h2>Log In</h2>
          </div>
          <mat-error>
            Usuario o la contraseña incorrecto
          </mat-error>
          <div class="flex justify-center items-center">
            <mat-form-field class="md:w-3/4 w-full">
              <input matInput placeholder="Email" required>
              <mat-error>
                Introduzca un email válido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="flex justify-center items-center">
            <mat-form-field class="md:w-3/4 w-full">
              <input matInput type="password" placeholder="Contraseña" required>
              <mat-error>
                Introduzca una contraseña válida
              </mat-error>
            </mat-form-field>
          </div>
          <div class="flex justify-center items-center">
            <button class="md:w-3/4 w-full" mat-raised-button color="primary">Login</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->

