<div class="container px-2">
  <div class="w-full h-28 p-8 ml-14">
    <span class="font-semibold text-2xl">Crear servicios</span>
  </div>
  <div class="ml-20 mt-6">
    <p class="text-2xl md:text-2xl font-bold tracking-wide">
      ¿Qué servicio quieres crear ?
    </p>
  </div>
  <div class="flex flex-row">
    <div class="grid grid-rows-3 grid-flow-col gap-8 ml-12">
      <div>
        <button mat-fab color="primary">
          <img class="w-28 ml-4" src="../../assets/images/imgServices/icon-food-red.png">
        </button>
        <p class="text-center font-bold text-lg">Comida</p>
      </div>
      <div>
        <button mat-fab color="primary">
          <img class="w-28 ml-4" src="../../assets/images/imgServices/icon-food-red-premium.png">
        </button>
        <p class="text-center font-bold text-lg">Comida Premium</p>
      </div>
      <div>
        <button mat-fab color="primary">
          <img class="w-28 ml-4" src="../../assets/images/imgServices/ico-food-kids.png">
        </button>
        <p class="text-center font-bold text-lg">Comida Niños</p>
      </div>
    </div>
    <div class="grid grid-rows-3 grid-flow-col gap-8 ml-12">
      <div>
        <button mat-fab color="primary">
          <img class="w-28 ml-4" src="../../assets/images/imgServices/ico-drink.png">
        </button>
        <p class="text-center font-bold text-lg">Bebida</p>
      </div>
      <div>
        <button mat-fab color="primary">
          <img class="w-28 ml-4" src="../../assets/images/imgServices/ico-drink-premium.png">
        </button>
        <p class="text-center font-bold text-lg">Bebida Premium</p>
      </div>
      <div></div>
    </div>
    <div class="grid grid-rows-3 grid-flow-col gap-8 ml-12">
      <div>
        <button mat-fab color="primary">
          <img class="w-28 ml-4" src="../../assets/images/imgServices/ico-coffe.png">
        </button>
        <p class="text-center font-bold text-lg">Desayuno</p>
      </div>
      <div></div>
      <div></div>
    </div>
    <div class="grid grid-rows-3 grid-flow-col gap-8 ml-12">
      <div>
        <button mat-fab color="primary">
          <img class="w-28 ml-4" src="../../assets/images/imgServices/ico-kayak.png">
        </button>
        <p class="text-center font-bold text-lg">Actividad</p>
      </div>
      <div>
        <button mat-fab color="primary">
          <img class="w-28 ml-4" src="../../assets/images/imgServices/ico-kayak-kids.png">
        </button>
        <p class="text-center font-bold text-lg">Actividad Niños</p>
      </div>
    </div>
  </div>
</div>

